.ie8_notice {
	display: none;
}
.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}

a {
	-webkit-transition: color 0.25s ease;
	   -moz-transition: color 0.25s ease;
		 -o-transition: color 0.25s ease;
			transition: color 0.25s ease;
	color: #666;
	text-decoration: none;
}

/* Fonts section started*/

	/* Calibri font Starts */

@font-face {
    font-family: 'calibriregular';
    src: url('../fonts/calibri/calibri-webfont.eot');
    src: url('../fonts/calibri/calibri-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/calibri/calibri-webfont.woff') format('woff'),
         url('../fonts/calibri/calibri-webfont.ttf') format('truetype'),
         url('../fonts/calibri/calibri-webfont.svg#calibriregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'calibribold';
    src: url('../fonts/calibri/calibrib-webfont.eot');
    src: url('../fonts/calibri/calibrib-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/calibri/calibrib-webfont.woff') format('woff'),
         url('../fonts/calibri/calibrib-webfont.ttf') format('truetype'),
         url('../fonts/calibri/calibrib-webfont.svg#calibribold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'calibriitalic';
    src: url('../fonts/calibri/calibrii-webfont.eot');
    src: url('../fonts/calibri/calibrii-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/calibri/calibrii-webfont.woff') format('woff'),
         url('../fonts/calibri/calibrii-webfont.ttf') format('truetype'),
         url('../fonts/calibri/calibrii-webfont.svg#calibriitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'calibribold_italic';
    src: url('../fonts/calibri/calibriz-webfont.eot');
    src: url('../fonts/calibri/calibriz-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/calibri/calibriz-webfont.woff') format('woff'),
         url('../fonts/calibri/calibriz-webfont.ttf') format('truetype'),
         url('../fonts/calibri/calibriz-webfont.svg#calibribold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
	/* Calibri font Ends */

	/* AvantGarde font Starts */

@font-face {
    font-family: 'avantgarde_bk_btbook';
    src: url('../fonts/avantgarde/avantgardeitcbybt-book-webfont.eot');
    src: url('../fonts/avantgarde/avantgardeitcbybt-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/avantgarde/avantgardeitcbybt-book-webfont.woff2') format('woff2'),
         url('../fonts/avantgarde/avantgardeitcbybt-book-webfont.woff') format('woff'),
         url('../fonts/avantgarde/avantgardeitcbybt-book-webfont.ttf') format('truetype'),
         url('../fonts/avantgarde/avantgardeitcbybt-book-webfont.svg#avantgarde_bk_btbook') format('svg');
    font-weight: normal;
    font-style: normal;

}

	/* AvantGarde font Ends */

	/* Century751 font Starts */

@font-face {
    font-family: 'century751_no2_btroman';
    src: url('../fonts/century751/tt1180m_-webfont.eot');
    src: url('../fonts/century751/tt1180m_-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/century751/tt1180m_-webfont.woff2') format('woff2'),
         url('../fonts/century751/tt1180m_-webfont.woff') format('woff'),
         url('../fonts/century751/tt1180m_-webfont.ttf') format('truetype'),
         url('../fonts/century751/tt1180m_-webfont.svg#century751_no2_btroman') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'century751_no2_btitalic';
    src: url('../fonts/century751/tt1181m_-webfont.eot');
    src: url('../fonts/century751/tt1181m_-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/century751/tt1181m_-webfont.woff2') format('woff2'),
         url('../fonts/century751/tt1181m_-webfont.woff') format('woff'),
         url('../fonts/century751/tt1181m_-webfont.ttf') format('truetype'),
         url('../fonts/century751/tt1181m_-webfont.svg#century751_no2_btitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'century751_no2_btbold';
    src: url('../fonts/century751/tt1184m_-webfont.eot');
    src: url('../fonts/century751/tt1184m_-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/century751/tt1184m_-webfont.woff2') format('woff2'),
         url('../fonts/century751/tt1184m_-webfont.woff') format('woff'),
         url('../fonts/century751/tt1184m_-webfont.ttf') format('truetype'),
         url('../fonts/century751/tt1184m_-webfont.svg#century751_no2_btbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'century751_no2_btbold_italic';
    src: url('../fonts/century751/tt1185m_-webfont.eot');
    src: url('../fonts/century751/tt1185m_-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/century751/tt1185m_-webfont.woff2') format('woff2'),
         url('../fonts/century751/tt1185m_-webfont.woff') format('woff'),
         url('../fonts/century751/tt1185m_-webfont.ttf') format('truetype'),
         url('../fonts/century751/tt1185m_-webfont.svg#century751_no2_btbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
	
	/* Century751 font Ends */

/* Fonts section end*/

/* ---------- Animation Delays Section Started ---------- */

.de1ms { -webkit-animation-delay: 0.1s;
			-moz-animation-delay: 0.1s;
			 -ms-animation-delay: 0.1s;
			  -o-animation-delay: 0.1s;
				 animation-delay: 0.1s; }

.de2ms { -webkit-animation-delay: 0.2s;
			-moz-animation-delay: 0.2s;
			 -ms-animation-delay: 0.2s;
			  -o-animation-delay: 0.2s;
				 animation-delay: 0.2s; } 

.de3ms { -webkit-animation-delay: 0.3s;
			-moz-animation-delay: 0.3s;
			 -ms-animation-delay: 0.3s;
			  -o-animation-delay: 0.3s;
				 animation-delay: 0.3s; }

.de4ms { -webkit-animation-delay: 0.4s;
			-moz-animation-delay: 0.4s;
			 -ms-animation-delay: 0.4s;
			  -o-animation-delay: 0.4s;
				 animation-delay: 0.4s; }

.de5ms { -webkit-animation-delay: 0.5s;
			-moz-animation-delay: 0.5s;
			 -ms-animation-delay: 0.5s;
			  -o-animation-delay: 0.5s;
				 animation-delay: 0.5s; }

.de6ms { -webkit-animation-delay: 0.6s;
			-moz-animation-delay: 0.6s;
			 -ms-animation-delay: 0.6s;
			  -o-animation-delay: 0.6s;
				 animation-delay: 0.6s; }

.de7ms { -webkit-animation-delay: 0.7s;
			-moz-animation-delay: 0.7s;
			 -ms-animation-delay: 0.7s;
			  -o-animation-delay: 0.7s;
				 animation-delay: 0.7s; }

.de8ms { -webkit-animation-delay: 0.8s;
			-moz-animation-delay: 0.8s;
			 -ms-animation-delay: 0.8s;
			  -o-animation-delay: 0.8s;
				 animation-delay: 0.8s; }

.de9ms { -webkit-animation-delay: 0.9s;
			-moz-animation-delay: 0.9s;
			 -ms-animation-delay: 0.9s;
			  -o-animation-delay: 0.9s;
				 animation-delay: 0.9s; }

.de1s {  -webkit-animation-delay: 1s;
			-moz-animation-delay: 1s;
			 -ms-animation-delay: 1s;
			  -o-animation-delay: 1s;
				 animation-delay: 1s; }

.de11ms {  -webkit-animation-delay: 1.1s;
			  -moz-animation-delay: 1.1s;
			   -ms-animation-delay: 1.1s;
				-o-animation-delay: 1.1s;
				   animation-delay: 1.1s; }		

.de12ms {  -webkit-animation-delay: 1.2s;
			  -moz-animation-delay: 1.2s;
			   -ms-animation-delay: 1.2s;
				-o-animation-delay: 1.2s;
				   animation-delay: 1.2s; }	

.de13ms {  -webkit-animation-delay: 1.3s;
			  -moz-animation-delay: 1.3s;
			   -ms-animation-delay: 1.3s;
				-o-animation-delay: 1.3s;
				   animation-delay: 1.3s; }	

.de14ms {  -webkit-animation-delay: 1.4s;
			  -moz-animation-delay: 1.4s;
			   -ms-animation-delay: 1.4s;
				-o-animation-delay: 1.4s;
				   animation-delay: 1.4s; }	

.de15ms {  -webkit-animation-delay: 1.5s;
			  -moz-animation-delay: 1.5s;
			   -ms-animation-delay: 1.5s;
				-o-animation-delay: 1.5s;
				   animation-delay: 1.5s; }	

.de16ms {  -webkit-animation-delay: 1.6s;
			  -moz-animation-delay: 1.6s;
			   -ms-animation-delay: 1.6s;
				-o-animation-delay: 1.6s;
				   animation-delay: 1.6s; }

.de17ms {  -webkit-animation-delay: 1.7s;
			  -moz-animation-delay: 1.7s;
			   -ms-animation-delay: 1.7s;
			    -o-animation-delay: 1.7s;
				   animation-delay: 1.7s; }

.de18ms {  -webkit-animation-delay: 1.8s;
			  -moz-animation-delay: 1.8s;
			   -ms-animation-delay: 1.8s;
				-o-animation-delay: 1.8s;
				   animation-delay: 1.8s; }

.de19ms {  -webkit-animation-delay: 1.9s;
			  -moz-animation-delay: 1.9s;
			   -ms-animation-delay: 1.9s;
				-o-animation-delay: 1.9s;
				   animation-delay: 1.9s; }																															

.de2s { -webkit-animation-delay: 2s;
		   -moz-animation-delay: 2s;
			-ms-animation-delay: 2s;
			 -o-animation-delay: 2s;
			    animation-delay: 2s; }

.de21ms {  -webkit-animation-delay: 2.1s;
			  -moz-animation-delay: 2.1s;
			   -ms-animation-delay: 2.1s;
				-o-animation-delay: 2.1s;
				   animation-delay: 2.1s; }

.de22ms {  -webkit-animation-delay: 2.2s;
			  -moz-animation-delay: 2.2s;
			   -ms-animation-delay: 2.2s;
				-o-animation-delay: 2.2s;
				   animation-delay: 2.2s; }

.de23ms {  -webkit-animation-delay: 2.3s;
			  -moz-animation-delay: 2.3s;
			   -ms-animation-delay: 2.3s;
				-o-animation-delay: 2.3s;
				   animation-delay: 2.3s; }

.de24ms {  -webkit-animation-delay: 2.4s;
			  -moz-animation-delay: 2.4s;
			   -ms-animation-delay: 2.4s;
				-o-animation-delay: 2.4s;
				   animation-delay: 2.4s; }

.de25ms {  -webkit-animation-delay: 2.5s;
			  -moz-animation-delay: 2.5s;
			   -ms-animation-delay: 2.5s;
				-o-animation-delay: 2.5s;
				   animation-delay: 2.5s; }

.de26ms {  -webkit-animation-delay: 2.6s;
			  -moz-animation-delay: 2.6s;
			   -ms-animation-delay: 2.6s;
				-o-animation-delay: 2.6s;
				   animation-delay: 2.6s; }

.de27ms {  -webkit-animation-delay: 2.7s;
			  -moz-animation-delay: 2.7s;
			   -ms-animation-delay: 2.7s;
				-o-animation-delay: 2.7s;
				   animation-delay: 2.7s; }

.de28ms {  -webkit-animation-delay: 2.8s;
			  -moz-animation-delay: 2.8s;
			   -ms-animation-delay: 2.8s;
				-o-animation-delay: 2.8s;
				   animation-delay: 2.8s; }

.de29ms {  -webkit-animation-delay: 2.9s;
			  -moz-animation-delay: 2.9s;
			   -ms-animation-delay: 2.9s;
			    -o-animation-delay: 2.9s;
				   animation-delay: 2.9s; }

.de3s { -webkit-animation-delay: 3s;
		   -moz-animation-delay: 3s;
			-ms-animation-delay: 3s;
			 -o-animation-delay: 3s;
				animation-delay: 3s; }

.de4s { -webkit-animation-delay: 4s; }

.de5s { -webkit-animation-delay: 5s; }

/* ---------- Animation Delays Section End ---------- */

body {
	background-color: #444;
}

.container {
	position: relative;
	margin: 0 auto;
	width: 1200px;
	height: 1038px;
	/*background: url("../images/homeBG.jpg") no-repeat;*/
}
		.homeGallery {
			position: absolute;
			width: 1200px;
			height: 1038px;
			margin-left: 1px;
		}
		.homeGallery ul {
			position: relative;
			width: 1200px;
			height: 173px;
			list-style: none;
		}
		.homeGallery ul li {
			position: relative;
			float: left;
			width: 171px;
			height: 173px;
			
		}
		.homeGallery ul li span {
			position: absolute;
			width: 100%;
			height: 100%;
			opacity: 0.4;
			z-index: 50;
			/*border: #d00 solid 2px;*/
			-webkit-box-sizing: border-box;
			   -moz-box-sizing: border-box;
			    -ms-box-sizing: border-box;
				 -o-box-sizing: border-box;
					box-sizing: border-box;

			-webkit-transition: all 0.4s ease;
			   -moz-transition: all 0.4s ease;
				-ms-transition: all 0.4s ease;
				 -o-transition: all 0.4s ease;
					transition: all 0.4s ease;
		}
		.homeGallery ul li:hover span {
			border: #fff solid 34px;
			box-shadow: 6px 6px 6px #000 inset, -6px -6px 6px #000 inset;
			filter: progid:DXImageTransform.Microsoft.Shadow(color=#000,direction=135,strength=6);
			outline: 4px solid #000;
			cursor: pointer;
			z-index: 100;
		}
		.homeGallery ul li img {
			width: 100%;
			height: 100%;
			background-repeat: no-repeat;
		}
		.header {
			width: 516px;
			position: absolute;
			background: url("../images/overlay.png");
			padding: 65px 0 15px;
			text-align: center;
			top: 85px;
			left: 342px;
			z-index: 9995;
		}
		.header h1 {
			font-family: "AvantGarde Bk Bt",sans-serif;
			font-size: 27px;
			font-weight: 100;
			line-height: 30px;
			letter-spacing: 2px;
			color: #fff;
		}
		.header h6 {
			font-family: "AvantGarde Bk Bt",sans-serif;
			font-size: 17px;
			font-weight: 100;
			line-height: 20px;
			letter-spacing: 1px;
			color: #fff;
			margin-bottom: 25px;
		}
		.navigation {
			position: relative;
			width: 275px;
			height: 15px;
			margin: 0 auto;
		}
		.header ul {
			position: absolute;
			list-style: none;
			overflow: hidden;
			margin: 0 auto;
		}
		.header ul li {
			position: relative;
			height: 30px;
			float: left;
			font-family: "Century751 No2 BT",sans-serif;
			font-family: sans-serif;
			font-size: 13px;
			padding: 0 11px 0 7px;
		}
		/*.header ul li:first-child{
			padding-left: 0;
		}*/
		.header ul li a {
			color: #666;
			text-decoration: none;
		}
		.header ul li a:hover {
			color: #aaa;
		}

		.footer {
			position: absolute;
			width: 516px;
			background: url("../images/overlay.png");
			padding: 20px 0 15px;
			text-align: center;
			/*top: 85px;*/
			left: 342px;
			bottom: 0;
			z-index: 9985;
		}
		.footer h6 {
			width: 172px;
			font-family: "Calibri";
			font-size: 11px;
			line-height: 12px;
			text-align: center;
			color: #666666;
		}
		.footer .socialLinks {
			position: absolute;
			width: 172px;
			height: 30px;
			bottom: 5px;
			padding: 0 0 0 172px;
		}
		.footer .socialLinks ul {
			position: absolute;
			width: 172px;
			height: 30px;
		}
		.footer .socialLinks ul > li {
			width: 25px;
			height: 26px;
			float: left;
			/*border: 1px solid #c00;*/
		}
		.footer .ftLeft {
			float: left;
		}
		.footer .ftRight {
			float: right;
		}
		.footer .socialLinks ul .fbSprite {
			margin-left: 28px;
			background: url("../images/fbSprite.png") no-repeat;
			background-size: 100%;
		}
		.footer .socialLinks ul .gpSprite {
			margin: 0 18px;
			background: url("../images/gpSprite.png") no-repeat;
			background-size: 100%;
		}
		.footer .socialLinks ul .liSprite {
			margin-right: 27px;
			background: url("../images/liSprite.png") no-repeat;
			background-size: 100%;
		}
		
		.aboutPage,
		.contactPage {
			width: 940px;
			height: 652px;
			background:#d1cfcf;
			/*background-color: #c00;*/
			overflow: hidden;
		}
		.aboutPage .pageBG,
		.contactPage .pageBG {
			width: 49.1%;
			height: 652px;
			background: #000;
			float: left;
		}
		.aboutPage .pageContent,
		.contactPage .pageContent {
			float: right;
			width: 41%;
			/*height: 652px;*/
			background:#d1cfcf;
			height: 588px;
			padding: 30px 40px;
		}
		.contactPage .pageContent {
			padding: 6% 0 0 0;
		}
		.aboutPage .pageContent p,
		.contactPage .pageContent p {
			color: #666666;
		}
		.aboutPage .pageContent span {
			font-weight: bold;
		}
		.aboutPage .pageContent p,
		.aboutPage .pageContent span,
		.contactPage .pageContent p {
			font-family: "Century751 No2 BT",sans-serif;
			font-size: 12px;
			font-style: italic;
			text-indent: 30px;
			line-height: 15px;
			margin-bottom: 10px;
		}
		.contactPage .pageContent h1 {
			font-family: "Century751 No2 BT",sans-serif;
			font-size: 25px;
			font-weight: 200;
			line-height: 35px;
			margin: 200px 0 10px 0;
			color: #333333;	
		}
		.contactPage .pageContent p {
			font-style: normal;
		}

#colorbox {
	top: 255px!important;
}
/* To change position of close button to Top Right Corner */
#colorbox #cboxClose
{
top: 12px;
right: 0;
background: url("../images/closeBtn.png") no-repeat 0 0;
}
#cboxLoadedContent{
margin-top:0;
margin-bottom:0;
}
#cboxTopLeft,
#cboxTopCenter,
#cboxTopRight {
	display: none;
}

/* Color & Text Classes Start */

.darkGreyColor {
	color: #444;
}

.rustColor {
	color: #880000;
}

.noIndent {
	text-indent: 0!important;
}

/* Color & Text Classes End */

/*CSS Loader Animation*/
.cssLoader {
	border:3px solid #fff;
    border-radius:30px;
    height:30px;
    left:50%;
    margin:-15px 0 0 -15px;
    opacity:0;
    position:absolute;
    top:50%;
    width:30px;
    z-index: 0;
 	
 	-webkit-animation: pulsate 1s ease-out;
 	-webkit-animation-iteration-count:infinite;
 	-moz-animation: pulsate 1s ease-out;
 	-moz-animation-iteration-count:infinite;
    animation: pulsate 1s ease-out;
    animation-iteration-count:infinite;
}

@-webkit-keyframes pulsate {
    0% {
      -webkit-transform:scale(.1);
      transform:scale(.1);
      opacity: 0.0;
    }
    50% {
      opacity:1;
    }
    100% {
      -webkit-transform:scale(1.2);
      transform:scale(1.2);
      opacity:0;
    }
}

@keyframes pulsate {
    0% {
      transform:scale(.1);
      opacity: 0.0;
    }
    50% {
      opacity:1;
    }
    100% {
      transform:scale(1.2);
      opacity:0;
    }
}
/*CSS Loader Animation - Ends*/

/*.no-gutter > [class*='span'] {
    margin-right: 0;
    margin-left: 0;
}*/
.portfolioPage {
	width: 955px;
	background:#d1cfcf;	
	overflow: hidden;
}
.portfolioPage .pageContent {
	padding: 30px 0 0;
	/*min-height: 1035px;*/
	max-height: 437px;
	overflow: auto;
}
.rowWrap ul {
	list-style-type: none;
	/*width: 873px;*/
	float: left;
}
.rowOuter > a{
	display: block;
	float: left;
	width: 33px;
	height: 145px;
	overflow: hidden;
}
.rowOuter > a i {
	display: block;
	width: 33px;
	height: 145px;
	background: url("../images/Photography_Sprite.png")no-repeat 0 0;
	transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
}
.rowOuter > a i.architectural {
	background-position: 0 0;	
}
.rowOuter > a i.architectural:hover {
	background-position: -46px 0;	
}
.rowOuter > a i.industrialProduct {
	background-position: 0 -145px;	
}
.rowOuter > a i.industrialProduct:hover {
	background-position: -46px -145px;	
}
.rowOuter > a i.foodProduct {
	background-position: 0 -290px;	
}
.rowOuter > a i.foodProduct:hover {
	background-position: -46px -290px;	
}
.rowOuter > a i.jewellery {
	background-position: 0 -435px;	
}
.rowOuter > a i.jewellery:hover {
	background-position: -46px -435px;	
}
.rowOuter > a i.product {
	background-position: 0 -580px;	
}
.rowOuter > a i.product:hover {
	background-position: -46px -580px;	
}
.rowOuter > a i.people {
	background-position: 0 -727px;	
}
.rowOuter > a i.people:hover {
	background-position: -46px -727px;	
}
.rowOuter > a i.nature {
	background-position: 0 -872px;	
}
.rowOuter > a i.nature:hover {
	background-position: -46px -872px;	
}
.rowOuter > ul > li span {
	position: absolute;
	width: 100%;
	height: 100%;
	background: url("../images/portfolio_images/portfolio_hover_effect.png") no-repeat;
	background-size: 0% 0%;
	background-position: center;

	-webkit-transition: all 0.3s ease;
	   -moz-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		 -o-transition: all 0.3s ease;
			transition: all 0.3s ease;
}
.rowOuter > ul > li span:hover {
	background-size: 100% 100%;
}
.rowWrap li {
	position: relative;
	float: left;
	width: 143px;
	height: 143px;
	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
	overflow: hidden;
}
.row1Architect ul li {
	border-top: 2px solid #fff;
}
.rowWrap li a {
	display: block;
}
.rowOuter ul li:first-child {
	border-left: 2px solid #fff;
}
.cycle-slideshow {
	float: left;
	width: 874px;
}
.fancybox-close {
	right: 16px;
}